div.menu{
    width: 75%;
    background-color: lightgray;
    border: 2px solid black;
    text-align: center;

}
body{
    margin-left: 150px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
div.copyright{
    text-align: center;
    width: 75%;
    margin-right: 450px;
}
table{
    width: 75%;
    border-collapse: collapse;

}

th{
    border-bottom: 1px solid black;
    text-align: left;


}
td{
    padding-top: 8px;
    text-align: left;
}
tr {
    border-bottom: 1px solid black;
}
input.btn{
    width:20px;
    height: 20px;
}
.icon{
    width:35px;
    height:30px;
    margin-left: 15px;
    margin-right: 520px;
}
.edit{
    width:20px;
    height: 20px;
    margin-left: 380px;
}
.delete{
    width:20px;
    height: 20px;
}
.return{
    margin-left: 1129px;
}
input{
    margin:10px;
}
select{
    margin-top: 25px;
}
label.origin{
    display: inline-block;
    vertical-align: top;
}
textarea{
    display: inline-block;
    margin-top: 5px;
}
button.ajouter{
    background-color:greenyellow;
}
button.supp{
    background-color: red;
}